/*Body*/
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(to right,#acb7be,#6973dd);
}
main {
    display: flex;
    justify-content: center;
}
/*Inicio de la declaración de las interfaces basicas*/
.Cart {
    position: absolute;
    top: 35%;
    right: 15%;
    height: 35dvh;
    width: 29dvw;
    background: linear-gradient(to right, #69a1c7, #7e86dd);
    border-radius: 0.5em;
}
/*Fin de la declaración de las interfaces basicas*/

/*Inicio de las modificaciones*/
#InputUser {
    top: 45%;
    right: 27%;
    width: 15dvw;
    height: 3dvh;
    position: absolute;
    border-radius: 0.5em;
    padding: 0.375rem 0.55rem;
    border: none;
    outline: none;
    border-bottom: 0.2dvw solid #040303;
}
#InputPassword {
    top: 55%;
    right: 27%;
    width: 15dvw;
    height: 3dvh;
    position: absolute;
    border-radius: 0.5em;
    padding: 0.375rem 0.55rem;
    border: none;
    outline: none;
    border-bottom: 0.2dvw solid #040303;
}

#Save {
    height: 4dvh;
    width: 5dvw;
    position: absolute;
    top: 51%;
    right: 20%;
    padding: 0.35rem 0.4rem;
    background:#ffffff;
    border: none;
    border-radius: 0.5em;
}
/*Titulos*/
#Information_register {
    color: #fff;
    position: absolute;
    top: 35%;
    left: 18%;
}
#GoToRe {
    height: 4dvh;
    width: 6dvw;
    position: absolute;
    top: 42%;
    left: 18%;
    padding: 0.35rem 0.4rem;
    background:#ffffff;
    border: none;
    border-radius: 0.5em;
}
 /*Hovers*/
#Save:hover {
    color: rgb(141, 99, 209);
    transform: scale(0.95);
}
#GoToRe:hover {
    color: rgb(141, 99, 209);
    transform: scale(0.95);
}
/* Add this media query to adjust styles for smaller screens like phones */
@media only screen and (max-width: 768px) {
    body {
        font-size: 25px;
    }
    .Cart {
        top: 20%;
        right: 5%;
        height: 30dvh;
        width: 90dvw;
    }
    #InputUser{
        top: 27%;
        right: 15%;
        width: 70dvw;
        height: 3dvh;
    }
    #InputPassword {
        top: 37%;
        right: 15%;
        width: 70dvw;
        height: 3dvh;
    }
    #Save, #GoToRe {
        top: 60%;
        right: 10%;
        width: 20dvw;
        height: 7dvh;
    }
    #Information_register {
        top: 65%;
        left: 6%;
        font-size: 80%;
        margin: 30px;
    }
}

/* Add this media query to adjust styles for larger screens like computers */
@media only screen and (min-width: 769px) {
    .Cart {
        top: 35%;
        right: 15%;
        height: 35dvh;
        width: 29dvw;
    }
    #InputUser {
        top: 45%;
        right: 27%;
        width: 15dvw;
        height: 3dvh;
    }
    #InputPassword {
        top: 55%;
        right: 27%;
        width: 15dvw;
        height: 3dvh;
    }
    #Save {
        height: 4dvh;
        width: 5dvw;
        top: 51%;
        right: 20%;
    }
    #Information_register {
        color: #fff;
        top: 35%;
        left: 18%;
    }
    #GoToRe {
        height: 6dvh;
        width: 8dvw;
        top: 45%;
        left: 18%;
    }
}