*{
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(15, 27, 23, 0.6), rgba(4,9,30,0.7)), url(../../Imagenes/HomeP/Banner.png);
    background-position: center;
    background-size: 100%dvh 100%dvw;
}

.homePage {

    font-family: "Nanum Myeongjo", serif;
    min-height: 100dvh;
    width: 100%;

    nav {
        display: flex;
        padding: 1% 3%;
        justify-content: space-between;
        align-items: center;
    }
    
    nav img {
        width: 150px;
        opacity: 0.9;
    }
    
    .home-link {
        flex: 1;
        text-align: right;
    }
    
    .home-link ul li {
        list-style: none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    
    .home-link ul li a{
        color: #fff;
        text-decoration: none;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
    }
    
    .home-link ul li::after {
        content: '';
        width: 0%;
        height: 2px;
        background: rgba(244, 67, 54, 0.7);
        display: block;
        margin: auto;
        transition: 0.4s;
    }
    
    .home-link ul li:hover::after {
        width: 100%;
    }
    
    .maintext {
        width: 90%;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .maintext h1 {
        font-size: 60px;
    }
    
    .maintext h2 {
        margin: 10px 0 40px;
        font-size: 25px;
    }
    
    nav .fa-solid {
        display: none;
    }
    
    @media (max-width: 768px) {
        .homePage {
            justify-content: flex-start;
            right: 0;
        }
    
        .maintext h1 {
            font-size: 44px;
        }
    
        .maintext h2 {
            margin: 10px 0 40px;
            font-size: 10px;
        }
    
        .home-link ul li:hover::after {
            display: block;
        }
    
        .home-link {
            position: absolute;
            background: rgba(244, 67, 54, 0.85);
            height: 100dvh;
            width: 200px;
            top: 0;
            right: -300px ;
            text-align: left;
            z-index: 2;
            padding: 30px;
            transition: 1s;
        }
    
        nav .fa-solid {
            display: block;
            color: #fff;
            margin: 10px;
            font-size: 22px;
            cursor: cursor;
        }
    
        
    }
}

.SignUp {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .wrapper-Register{
        position: absolute;
        top: 18%;
        left: 37%;
        width: 400px;
        height: 440px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.7);
        border-radius: 25px;
        backdrop-filter: blur(30px);
        box-shadow: 0.4px 0.4px 0.7px rgba(244, 67, 54, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 625;
        overflow: hidden;
        transform: scale(0);
    }

    .wrapper-Register{
        height: 520px;
    }

    .wrapper-Register .form {
        width: 100%;
        padding: 30px;
    
    }

    .wrapper-Register .iconCloseR {
        position: absolute;
        top: 0;
        right: 0;
        height: 45px;
        width: 45px;
        font-size: 2em;
        color: #fff;
        background-color: rgba(22, 41, 56, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 20px;
        cursor: pointer;
    }

    .form h2 {
        font-size: 2em;
        color: rgba(15, 25, 15, 1);
        text-align: center;
        position: absolute;
    }

    .inputB {
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom: 2px solid rgba(22, 41, 56, 1);
        margin: 25px 0;
    }

    .inputB .Plantilla {
        text-align: left;
        font-size: 1.05em;
        font-weight: 700;
    }

    .inputB input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        padding: 0 35px 0 5px;
        color: rgba(15, 25, 15, 1);
        font-weight: 4800;
    }

    .inputB span {
        position: absolute;
        right: 8px;
        font-size: 1.2;
    }

    .Plantilla {
        height: 5dvh;
        width: 10dvw;
        background: transparent;
    }

    .selectB #Selector{
        height: 40px;
        width: 80%;
        border: none;
        outline: none;
        font-weight: 600;
        padding: 0 15px 0 5px;
        font-size: 1em;
    }

    .selectB span {
        position: relative;
        left: 2px;
        font-size: 1.2;
        font-weight: 700;
    }

    .selectB #Selector option {
        background-color: rgba(22, 41, 56, 0.8);
        color: rgba(15, 25, 15, 1);
        font-weight: 600;
    }

    #SendToBackEnd {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        cursor: pointer;
        color: #fff;
        font-weight: 525;
        margin: 4px;
    }

    .forgotRegister, .forgotLogin {
        position: relative;
        font-size: 1em;
        font-weight: 500;
        display: flex;
        right: -7%;
        margin: 15px 0 5px;
    }

    .forgotLogin {
        right: -9%;
    }

    .forgotRegister .registerLink, .forgotLogin .loginLink{
        color: rgba(15, 25, 15, 1);
        font-size: 0.95em;
    }
}

.LogIn {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    .wrapper-LogIn{
        position: absolute;
        top: 18%;
        left: 37%;
        width: 400px;
        height: 440px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.7);
        border-radius: 25px;
        backdrop-filter: blur(30px);
        box-shadow: 0.4px 0.4px 0.7px rgba(244, 67, 54, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 625;
        overflow: hidden;
        transform: scale(0);
    }

    .wrapper-LogIn .iconCloseL {
        position: absolute;
        top: 0;
        right: 0;
        height: 45px;
        width: 45px;
        font-size: 2em;
        color: #fff;
        background-color: rgba(22, 41, 56, 1);
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom-left-radius: 20px;
        cursor: pointer;
    }

    .form h2 {
        font-size: 2em;
        color: rgba(15, 25, 15, 1);
        text-align: center;
        position: absolute;
    }

    .inputB {
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom: 2px solid rgba(22, 41, 56, 1);
        margin: 25px 0;
    }

    .inputB .Plantilla {
        text-align: left;
        font-size: 1.05em;
        font-weight: 700;
    }

    .inputB input {
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        padding: 0 35px 0 5px;
        color: rgba(15, 25, 15, 1);
        font-weight: 4800;
    }

    .inputB span {
        position: absolute;
        right: 8px;
        font-size: 1.2;
    }

    .Plantilla {
        height: 5dvh;
        width: 10dvw;
        background: transparent;
    }

    .selectB #Selector{
        height: 40px;
        width: 80%;
        border: none;
        outline: none;
        font-weight: 600;
        padding: 0 15px 0 5px;
        font-size: 1em;
    }

    .selectB span {
        position: relative;
        left: 2px;
        font-size: 1.2;
        font-weight: 700;
    }

    .selectB #Selector option {
        background-color: rgba(22, 41, 56, 0.8);
        color: rgba(15, 25, 15, 1);
        font-weight: 600;
    }

    #SendToBackEnd {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        cursor: pointer;
        color: #fff;
        font-weight: 525;
        margin: 4px;
    }

    .forgotRegister, .forgotLogin {
        position: relative;
        font-size: 1em;
        font-weight: 500;
        display: flex;
        right: -7%;
        margin: 15px 0 5px;
    }

    .forgotLogin {
        right: -9%;
    }

    .forgotRegister .registerLink, .forgotLogin .loginLink{
        color: rgba(15, 25, 15, 1);
        font-size: 0.95em;
    }
}