body {
    font-family: sans-serif;
    height: 91vh;
}
/*Interfaces*/
.NivelContenedor {
    position: relative;
    width: 40%;
    height: 7%;
    margin-left: 28%;
    margin-top: 2%;
}
.N {
    position: absolute;
    left: 5%;
    top: 40%;
}
.B {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 5%;
    top: 24%;
    height: 2.8vh;
    width: 4.4vw;
    padding: 0.35rem 0.4rem;
    background:#ffffff;
    border: 0.1em solid black;
    border-radius: 0.5em;
}
.L {
    position: absolute; 
    bottom: 0%; 
    width: 100%; 
    border-bottom: 1px solid black;
}
/*Fin de interfaces*/
#TituloIntro {
    position: relative;
    margin-left: 35%;
    margin-top: 3%;
}
#ContenedorContexto {
    position: relative;
    margin-left: -5%;
    margin-top: 3%;
    text-align: center;
}

/*Boton volver*/
#PaginaPrincipal {
    width: 8%;
    height: 5%;
    right: 15%;
    top: 15%;
}
/*Hovers*/
.B:hover {
    transform: scale(1.1);
}