/*Configurando propiedades del cuerpo del documento*/
body {
    font-family: sans-serif;
}

/*Plantillas*/
.Boton {
    padding:0.3rem 0.4rem;
    height: fit-content;
    width: fit-content;
    background:#ffffff;
    border: 0.1em solid black;
    border-radius: 0.5em;
}
    

/*Estilos de elementos de body*/
#TituloIntro {
    position: absolute;
    left: 40%;
    top: 5%;
}

#contexto {
    position: absolute;
    left: 33%;
    top: 15%;
}
/*Nivel 1*/
#tN1 {
    position: absolute;
    left: 30%;
    top: 26%;
}
#BN1 {
    position: absolute;
    left: 66%;
    top: 25%;
}
#linea1 {
    position: absolute;
    left: 28%; 
    top: 30%; 
    width: 44%; 
    border-bottom: 1px solid black;
}

/*Nivel 2*/
#tN2 {
    position: absolute;
    left: 30%;
    top: 36%;
}
#BN2 {
    position: absolute;
    left: 66%;
    top: 35%;
}
#linea2 {
    position: absolute;
    left: 28%; 
    top: 40%; 
    width: 44%; 
    border-bottom: 1px solid black;
}

/*Nivel 3*/
#tN3 {
    position: absolute;
    left: 30%;
    top: 46%;
}
#BN3 {
    position: absolute;
    left: 66%;
    top: 45%;
}
#linea3 {
    position: absolute;
    left: 28%; 
    top: 50%; 
    width: 44%; 
    border-bottom: 1px solid black;
}

/*Nivel 4*/
#tN4 {
    position: absolute;
    left: 30%;
    top: 56%;
}
#BN4 {
    position: absolute;
    left: 66%;
    top: 55%;
}
#linea4 {
    position: absolute;
    left: 28%; 
    top: 60%; 
    width: 44%; 
    border-bottom: 1px solid black;
}

/*Nivel 4*/
#tN5 {
    position: absolute;
    left: 30%;
    top: 66%;
}
#BN5 {
    position: absolute;
    left: 66%;
    top: 65%;
}
#linea5 {
    position: absolute;
    left: 28%; 
    top: 70%; 
    width: 44%; 
    border-bottom: 1px solid black;
}
#BontonVolver {
    top: 15%;
    left: 15%;
    height: fit-content;
    width: fit-content;
    position: absolute;
    padding: 0.25rem 0.3rem;
    background:#ffffff;
    border-radius: 0.5em;
    border: 0.1em solid black;
}

#BN1:hover, #BN2:hover, #BN3:hover, #BN4:hover, #BN5:hover, #BontonVolver:hover {
    transform: scale(1.1);
}