/*Declaración de elementos básicos de body*/
body {
    font-family: sans-serif;
}

/*Mejora de objetos usados en el documento html*/
#rectangulo {
    position: absolute;
    top: 35%;
    left: 15%;
    width: 56vw;
    height: 7vw;
    margin: 0px;
}
.rectanguloInterior {
    float: left;
    width: 7vw;
    height: 7vw;
    border: 0.1vw solid black;
    position: relative;
    box-sizing: border-box;
}
#Empezar {
    height: 4vh;
    width: 7vw;
    position: absolute;
    top: 15%;
    left: 2%;
    padding: 0.35rem 0.4rem;
    background:#ffffff;
    border-radius: 0.5em;
    border: 0.1em solid black;
}
#BotonPrincipal {
    height: 4vh;
    width: 7vw;
    position: absolute;
    top: 25%;
    left: 2%;
    padding: 0.35rem 0.4rem;
    background:#ffffff;
    border-radius: 0.5em;
    border: 0.1em solid black;
}

#BotonPrincipal:hover, #Empezar:hover {
    transform: scale(1.1);
}
#TextoContador {
    width: 50%;
}