/*Interfaces para crear objetos*/
.Para1 {
    margin-top: 70%;
    width: 25%;
    height: 25%;
    clip-path: polygon(0 100%, 100% 75%, 100% 0, 0 25%);
    background: rgb(159, 159, 250);
}
.Para2 {
    margin-top: 70%;
    width: 25%;
    height: 25%;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 75%);
    background: rgb(159, 159, 250);
}
.Semi-trig {
    margin-top: 58%;
    width: 100%;
    height: 28%;
    background-color: rgb(252, 133, 133);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 75%);
}
/*Elementos de Semi-trig invertidos*/
#SemiInvert, #SemiInvert2 {
    position: relative;
    margin-top: 0;
    transform: scaleY(-1);
}
#SemiInvert2 {
    transform: scale(-1);
}
.Cuadrado {
    width: 100%;
    height: 30%;
    background-color: rgb(190, 253, 253);
}
.Triangulo {
    width: 100%;
    height: 35%;
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
    background: rgb(229, 227, 227);
}
/*Interfaces del centro*/
.CuadC {
    position: absolute;
    width: 100%;
    height: 20.5%;
}
.TMayor {
    position: absolute;
    margin-top: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    background: rgb(250, 149, 149);
}
.TMayorinv {
    transform: scaleY(-1);
    position: absolute;
    margin-top: 0;
    height: 100%;
    width: 100%;
    clip-path: polygon(0 100%, 50% 0, 100% 100%);
    background: rgb(250, 149, 149);
}
.TMenorinv {
    transform: scaleY(-1);
    position: absolute;
    height: 100%;
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background: rgb(179, 251, 161);
}
.TMenor2inv {
    transform: scale(-1);
    right: 0;
    position: absolute;
    height: 100%;
    width: 50%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background: rgb(179, 251, 161);
}

/*Interfaces movibles*/
.Para1Mov {
    position: absolute;
    width: 3.2vw;
    height: 7.5vw;
    clip-path: polygon(0 100%, 100% 75%, 100% 0, 0 25%);
    background: rgb(251, 111, 111);
}
.TranguloCola {
    position: absolute;
    width: 50%;
    height: 25%;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background: rgb(176, 174, 174);
}
/*Construyendo el halcón*/
#Halcón {
    position: absolute;
    top: 10%;
    display: flex;
    width: 50vw;
    height: 30vw;
}

#Cuerpo {
    display: flex;
    width: 60%;
    height: 100%;
}

#AlaDerecha, #AlaIzquierda {
    display: flex;
    width: 30%;
    height: 100%;
}
/*Partes del cuerpo*/
#Pi, #Pc, #Pd {
    position: relative;
    width: 33.33%;
    height: 100%;
}
/*Invertir con respecto a x*/
#stinv, #tv {
    transform: scaleX(-1);
}
#sti1v {
    transform: scale(-1);
}
/*Creación del centro*/
#Ci, #Cn {
    position: absolute;
    background: rgb(245, 245, 191);
    width: 4.2272vw;
    height: 9.9075vw;
}
#Ci {
    right: 0;
    transform: scaleX(-1);
}
#Ci2, #Cn2 {
    position: absolute;
    background: beige;
    width: 4.2272vw;
    height: 9.9075vw;
}
#Ci2 {
    right: 0;
    transform: scaleX(-1);
}
#ContenedorCabeza {
    width: 8.4544vw;
    position: relative;
    display: flex;
    height: 9.9075vw;
}
.Casa {
    position: absolute;
    top: 24.7%;
    width: 8.4vw;
    height: 7.3vw;
    background: rgb(194, 194, 197);
    clip-path: polygon(0 100%, 0 33%, 50.5% 0, 100% 33%, 100% 100%);
}
#Cola {
    top: 114.7%;
}
#Primero {
    top: 48.9%;
}
#Segundo {
    top: 69.4%;
}
#MenorB, #MayorB {
    background: beige;
}
#MenorN, #MayorN {
    background: rgb(176, 174, 174);
}
#MayorB2 {
    transform: scaleY(-1);
    background: beige;
}
#MenorIzqN, #MenorDerN {
    position: absolute;
    width: 50%;
    height: 100%;
    transform: scaleX(-1) scaleY(-1);
}
#MenorDerN {
    right: 0;
    transform: scaleX(1) scaleY(-1);
}
#MenorIzqN2, #MenorDerN2 {
    position: absolute;
    width: 50%;
    height: 100%;
    bottom: 0;
    transform: scaleX(-1);
}
#MenorDerN2 {
    right: 0;
    transform: scaleX(1);
}
#ContenedorPies {
    width: 8.4544vw;
    height: 9.9075vw;
    position: absolute;
    display: flex;
    top: 89.9%;
}
#Pequeño, #Pequeño1 {
    top: 0;
    position: absolute;
    height: 25%;
    width: 50%;
    transform: scale(-1);
}
#Pequeño1 {
    right: 0;
    transform: scaleY(-1) scaleX(1);
}
#ContendorEjemplosNeutros {
    width: 15vw;
    height: 50vw;
    position: absolute;
    right: 15%;
    top: 5%;
    border: 0.1em solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*Clases de ejemplo*/
.Para1Mov2 {
    top: 10%;
    right: 25%;
    position: absolute;
    width: 3.2vw;
    height: 7.5vw;
    clip-path: polygon(0 100%, 100% 75%, 100% 0, 0 25%);
    background: rgb(0, 0, 0);
}
.TranguloColaiv {
    top: 45%;
    right: 15%;
    position: absolute;
    width: 8.4vw;
    height: 10.5vw;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    background: rgb(0,0,0);
}
.Casamv {
    top: 10%;
    right: 5%;
    position: absolute;
    width: 8.4vw;
    height: 7.3vw;
    background: rgb(0, 0, 0);
    clip-path: polygon(0 100%, 0 33%, 50.5% 0, 100% 33%, 100% 100%);
}
.Cuadradomov {
    top: 45%;
    right: 25%;
    position: absolute;
    width: 8.4vw;
    height: 9vw;
    background-color: rgb(0, 0, 0);
}
.Semi-trigmov {
    top: 15%;
    right: 15%;
    position: absolute;
    width: 8.4vw;
    height: 8.4vw;
    background-color: rgb(0, 0, 0);
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 75%);
}
