#Triangulo {
    position: absolute;
    left: 35%;
    top: 25%;
    width: 15.3vw;
    height: 20vw;
    clip-path: polygon(0 100%, 100% 100%, 0 0);
    background: blue;
}
#Cateto1 {
    position: absolute;
    top: 59%;
    left: 35%;
    width: 15.3vw;
    height: 15vw;
    display: flex;
    flex-wrap: wrap;
}
#Cateto2 {
    width: 20.3vw;
    height: 20vw;
    display: flex;
    flex-wrap: wrap;
}
.CuadradoPequeño {
    width: 5vw;
    height: 5vw;
    background: red;
    border-bottom: 0.1vw solid black;
    border-right: 0.1vw solid black;
}