/*Declaración de atributos basicos de body*/
body {
    background: linear-gradient(to right,#acb7be,#888fd8);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/*Manipulación de objetos del nav*/
#nav {
    margin: 0;
    width: 100%;
    height: 10vh;
    background: linear-gradient(to bottom, #69a1c7, #7e86dd);
    color: white;
    position: relative;
}


#NombreSelect {
    display: flex;
    flex-direction: row;
    width: 35vw;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
}

#Nombre {
    position: relative;
    font-size: 2vw;
}
/*Animaciones de objetos del nav*/
#NombrePoo {
    position: absolute;
    left: 3%;
    top: 30%;
    font-size: 2rem;
}
#NombrePoo:hover {
    transform: scale(0.9);
    color: rgb(187, 171, 212);
}
#Nombre:hover {
    transform: scale(0.9);
    color: rgb(187, 171, 212);
}
/*Fin de animaciones de objetos del nav*/
/*Fin de manipulación de objetos del nav*/

/*Inicio de creación de interacción con los mundos*/
#Mostrar {
    width: 65vw;
    height: 45vw;
    position: absolute;
    left: 40%;
    top: 50%;
    transform: translate(-40%, -50%);
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.Contend {
    width: 7vw;
    height: 14vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Contend div {
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    background: #e9e9e9;
}
.Contend div:hover {
    transform: scale(1.25);
    box-shadow: 0 0 40px rgb(161, 109, 245);
    background: white;;
}
#TEXT {
    text-align: center;
    color: #e9e9e9;
}
/*Fin de creación de interacción con los mundos*/