/* Contenedores */
#ContenedorGrande {
    width: auto;
    height: auto;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
#ContenedorPequeño {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Fin de contenedores */
#Cateto1 {
    width: 12vw;
    height: 12vw;
    position: relative;
}
#hipotenuza {
    width: 20vw;
    height: 20vw;
    margin-top: -25%;
    margin-left: -23%;
    position: relative;
    transform: rotate(307deg);
}
/* Contenido de contenedor pequeño*/
#Triangulo {
    width: 16vw;
    height: 12vw;
    background-color: tomato;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
}
#Cateto2 {
    width: 16vw;
    height: 16vw;
    position: relative;
}
/* Fin de contenido de contenedor pequeño */
#TrianguloCompleto {
    width: 10vw;
    height: 12vw;
    background: rebeccapurple;
    position: absolute;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    right: 0;
}
.TrianguloCompleto {
    width: 10vw;
    height: 12vw;
    background: rebeccapurple;
    position: absolute;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    right: 0;
}
#TrianguloCompletoh {
    width: 7.8102vw;
    height: 18.3vw;
    background: rebeccapurple;
    position: absolute;
    left: 0;
    top: 0;
}
#TrianguloRecortado, .TrianguloRecortado {
    width: 12vw;
    height: 12vw;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 20% 100%, 0 100%);
    background: blanchedalmond;
}

#TrianguloRecortadoh {
    width: 17.5vw;
    height: 12vw;
    position: absolute;
    background: rgb(88, 97, 196);
    clip-path: polygon(0 0, 100% 0, 100% 16.67%, 44.63% 92%);
    top: 0;
    left: 0;
}
#PuntaTriangulo, .PuntaTriangulo {
    bottom: -1.5%;
    left: 2%;
    width: 2vw;
    height: 2.5vw;
    position: absolute;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    background: red;
    transform: rotate(270deg);
}
#PuntaTrianguloh {
    width: 2.5vw;
    height: 2vw;
    position: absolute;
    right: 0;
    top: 0;
    background: red;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}
#ParalelepidedoQueNoEsparalelepidedo, .ParalelepidedoQueNoEsparalelepidedo {
    width: 16vw;
    height: 16vw;
    background: chartreuse;
    clip-path: polygon(0 0, 100% 0, 15.625% 100%, 0 87.5%);
    position: absolute;
}
#ParalelepidedoQueNoEsparalelepidedoh {
    width: 20vw;
            height: 10.47vw;
            position: absolute;
            background: rgb(243, 165, 47);
            clip-path: polygon(0 100%, 0 84%, 47.65% 0, 100% 100%);
            bottom: 0;
            left: 0;;
}
#TrianguloGrande, .TrianguloGrande {
    position: absolute;
    width: 16vw;
    height: 16vw;
    background: cyan;
    clip-path: polygon(100% 100%, 15.625% 100%, 100% 0);
}
#TrianguloGrandeh {
    position: absolute;
    width: 10.47vw;
    height: 20vw;
    background: cyan;
    clip-path: polygon(100% 100%, 0 47.65%, 100% 0);
    right: 0;
    bottom: 0;
}
#Mov1 {
    right: 0;
}
